%p#notice= notice

/ %p
/   %b Makebreak:
/   = @habit.makebreak
%h1= @habit.title
#graph
/ %p
/   %b Description:
/   = @habit.description
/ %p
/   %b Frequency:
/   = @habit.frequency
/ %p
/   %b Duration:
/   = @habit.duration
/ %p
/   %b Consequence:
/   = @habit.consequence
/ %p
/   %b User:
/   = @habit.user_id
/ %p
/   %b Referee:
/   = @habit.referee_id

= link_to 'Edit', edit_habit_path(@habit)
\|
= link_to 'Back', habits_path

:javascript
  setTimeout("graph([0,1,2,3,4,5,6,0,1,2,3,4,5,0,1,2,3,4,5,6,7,8,9])", 1500)
